.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

#site-loader {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #333;
  border-top: 4px solid var(--blue);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

