.ticker {
  overflow: hidden;
  white-space: nowrap;
  background: #070b12;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#ticker-content {
  display: inline-block;
  padding: 12px 0;
  will-change: transform;
}

.stock {
  margin: 0 14px;
  font-size: 14px;
}

.stock.up {
  color: #3cff8f;
}

.stock.down {
  color: #ff4d4d;
}
